.folio{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aqua;
    
    
    
}
.hello{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aqua;
    animation: normal;
}
.name{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aqua;
    animation: normal;
}
.navv{
    background-color:black;
}
.l{
    font-style: oblique;
    font-weight :800;


}
.me{
    text-size-adjust: 74;
    font-style: italic;
}
.college{
    border-right: 50px;


}
.about{
    background-color: black;
    color:blueviolet
}
.me{
    color: aquamarine;
}
.skill{
    background-color:black;
}
.s{
    color:blueviolet;
}
.ss{
    color:aquamarine
}
.education{
    background-color:black;
}
.e{
    color:blueviolet;
}
.ee{
    color: aquamarine;
}
.h{
    color:blanchedalmond;
}
.hh{
    color:blanchedalmond;

}
.project{
    color:blueviolet;
    background-color: black;

}
.pp{
    color:aquamarine;
    

}
.competition{
    background-color: black;
}
.z{
    color: blueviolet;
}
.zz{
    color: aquamarine;
}
.contact{
    background:black;
}
.x{
    color:blanchedalmond
}
.xx{
    color: aquamarine;
}
.bbb{
    background-color: black;
    min-height: 100vh;
}
